<h1>Login</h1>
<form id="loginForm">
    <label>Email</label>
    <input name="email">
    <label>Password</label>
    <input type="password" name="password">
    <input type="submit">
</form>

<br>  
<p>
    Register if you don't have a user 
    <br>
    <a href="/register">Register</a>
</p>

<br> 
<div>
    <a href="/api/session/github"><button>Log in with GitHub</button></a>
</div>

<script src="/js/login.js"></script>