<h1>Recover password</h1>
<form id="recoverForm">
    <label>Email</label>
    <input name="email">
    <input type="submit">
</form>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/recover.js"></script>