<h1>Products</h1>
{{#if hasExpired}}
    <p>Link has expired</p>
    <br>  
    <a href="/recover">Restore Password</a>
{{else}}
    <p id="email">{{result.email}}</p>
    <br> 
    <form id="restorePasswordForm">
        <label>New Password</label>
        <input name="password" type="password">
        <input type="submit">
    </form>
{{/if}}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/restore.js"></script>