<h1>Switch user membership</h1>
<form id="userIDForm">
    <label>UserID</label>
    <input name="userid">
    <input type="submit">
</form>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/switch.js"></script>